<h2> Friends: </h2>

<% if @friends.any?  %>
  <% @friends.each do |friend|%>
    <div class="card">
      <div class="card-body">
        <%= link_to friend.name || friend.email, user_path(friend)%>
        <%= button_to "Remove friend", user_friendship_path(current_user.id, friend.id), method: :delete %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Your friendlist is empty</p>
<% end %>

<h2>You might know:</h2>

<% if @not_friends.any? %>
  <% @not_friends.each do |user|%>
    <div class="card">
      <div class="card-body">
        <%= link_to user.name || user.email, user_path(user)%>
        <%= button_to "Add friend", {:controller => "friendship_requests", :action => "create", :friend_id => user.id }, :method => :post %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Incredible! it seems that everybody around are already your friends!</p>
<% end %>
